@{
    ViewData["Title"] = "Bem Vindo!";
}



<div class="row">
    <div class="col-md-3">
        <h2>Design</h2>
        <ul>
            <li>Injeção de dependências, SOLID e Clean Code </li>
            <li>Abordagem DDD</li>
            <li>CQRS - Command Query Responsibility Segregation</li>
            <li>Event Sourcing</li>
            <li>ASP.NET Identity Core isolado</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Tecnlogias Usadas</h2>
        <ul>
            <li>.NET Core 2.0</li>
            <li>ASP.NET MVC Core 2.0</li>
            <li>ASP.NET WebAPI Core 2.0</li>
            <li>ASP.NET Identity Core 2.0</li>
            <li>EF Core 2.0</li>
            <li>AutoMapper</li>
            <li>FluentValidator</li>
            <li>MediatR</li>
            <li>Swagger UI</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Futuro</h2>
        <ul>
            <li>Expandir aplicação para cadastro de pedidos e itens</li>
            <li>ASP.NET Identity trabalhando com WebAPI</li>
            <li>Adequar AdminLTE no Layout</li>
            <li>Avaliar real uso do CQRS.</li>
            <li>Automatizar testes</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Execução</h2>
        <ul>
          
            <li>Roda em qualquer S.O.</li>
            <li>Publicar via Docker ou Azure (no Azure já sei falta testar no Docker)</li>
        </ul>
    </div>
</div>
