
</section>
<!-- /.content -->
        </div>
<!-- /.content-wrapper -->
<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <strong>Versão 1.0.0</strong>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a target="_blank" href="#">Campus Soluções</a>.</strong> Todos os direitos reservados.
</footer>
