
@{}

<section class="content-header">
    <h1>
        @ViewData["Title"]

        @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["TitleOptional"])))
        {
            <small>@ViewData["TitleOptional"]</small>
        }        
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Inicio</li>
    </ol>
</section>
